n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/submit-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "be27dd85-9ce1-4592-93ac-fe56f1e79c5c",
      "name": "Webhook",
      "webhookId": "e2611aa3-2313-4855-aa08-2c5be04d3497"
    },
    {
      "parameters": {
        "fromEmail": "detailray@gmail.com",
        "toEmail": "rayapenteng@gmail.com",
        "subject": "New Lead Alert!",
        "emailFormat": "both",
        "text": "=You got a new lead from {{ $('Webhook').item.json.body.name }} ({{ $('Webhook').item.json.body.email }})",
        "html": "=You got a new lead from {{ $('Webhook').item.json.body.name }} ({{ $('Webhook').item.json.body.email }})",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        272,
        0
      ],
      "id": "81cbd493-3f60-481d-81ed-0db7cd4fa022",
      "name": "Send an Email",
      "webhookId": "d326f995-00db-4ad9-96d3-7c2e480a3eb1",
      "credentials": {
        "smtp": {
          "id": "pulzJhEjQpLx4uIn",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DurvpieWnu8pQBrw4bxZ9VUpIaGWnuzsmepVnrt1FA8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Q1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.body.name }}",
            "email": "={{ $json.body.email }}",
            "company": "={{ $json.body.company }}",
            "message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        0
      ],
      "id": "21ace6c9-3847-483c-a9a5-1c86024df9ea",
      "name": "Append Sheet",
      "credentials": {
        "googleApi": {
          "id": "8BkM3BllzQ0Hlvls",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Sheet": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be5735be-943a-45f4-bfcb-99b15428cc28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d5008f63f555029870d3edc8141be7ab5b45c5e72d5e48cc44e4892b97d8f86"
  },
  "nodeGroups": [],
  "id": "210QsKfQG4O0GVyw",
  "tags": []
}